<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSyringe</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">

    <!-- Tailwind -->
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }

        .loader {
            border-top-color: #3498db;
            -webkit-animation: spinner 1.5s linear infinite;
            animation: spinner 1.5s linear infinite;
        }

        @-webkit-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spinner {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        html, body {margin: 0; height: 100%; overflow: hidden}
        
    </style>
    
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
</head>
<body class="bg-white font-family-karla">

    <div class="flex flex-col h-screen">

        <!-- Top Bar-->
        <top-bar></top-bar>
        <script src="{{url_for('static', filename='js/topbar.js')}}"></script>

         <!-- Text Header -->

         <div class="flex flex-row w-screen mt-8 ">

            <div class="flex items-center ml-16">
                <a class=" text-gray-800 hover:text-gray-700 text-xl" href="#">
                    Scan QR Code
                </a>
            </div>
            
            <div class="flex items-center ml-20">
                <a class=" text-gray-800 hover:text-gray-700 text-xl" href="#">
                    Insert syringe into cleaner
                </a>
            </div>

            <div class="flex items-center ml-12">
                <a class=" text-gray-800 hover:text-gray-700 text-xl" href="#">
                    Place plunger into basin
                </a>
            </div>

        </div>     

        <div class="flex flex-row h-1/2 w-screen mt-4">

            <div class="w-full container flex-grow-0 px-8">
                <img class="object-contain flex-none justify-center m-auto h-full" src="{{url_for('static', filename='img/camera.gif')}}" alt="cameraGif">
            </div>
            
            <div class="w-full container flex-grow-0 px-8">
                <img class="object-contain flex-none justify-center m-auto h-full" src="{{url_for('static', filename='img/syringe.gif')}}" alt="syringeGif">
            </div>

            <div class="w-full container flex-grow-0 px-8">
                <img class="object-contain flex-none justify-center m-auto h-full" src="{{url_for('static', filename='img/plunger.gif')}}" alt="plungerGif">
            </div>

        </div>       
        <div class="flex flex-row items-center">
            <a href="#" onclick=back() class="w-1/6 bg-blue-800 text-white font-bold text-sm uppercase rounded hover:bg-blue-700 flex items-center justify-center ml-60 px-2 py-3 mt-8">
                Back
            </a>
            <a href="#" onclick=clean() class="w-1/6 bg-blue-800 text-white font-bold text-sm uppercase rounded hover:bg-blue-700 flex items-center justify-center ml-12 px-2 py-3 mt-8">
                next
            </a>
        </div>

        

    </div>

    <div id="loadDiv">

    </div>

    

</body>

</html>

<script>

  function clean() {
        window.location.href = "http://127.0.0.1:5000/scanner"
        // var x = document.getElementById("loadDiv");
        // x.innerHTML = '<div wire:loading class="fixed top-12 left-0 right-0 bottom-0 w-full z-50 overflow-hidden bg-gray-700 opacity-75 flex flex-col items-center justify-center"><div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12 mb-4"></div><h2 class="text-center text-white text-xl font-semibold">Detecting Syringes...</h2><p class="w-1/2 text-center text-white">This may take a few seconds, please wait.</p></div>';

        // var myHeaders = new Headers();
        // myHeaders.append("Content-Type", "application/json");

        // var raw = JSON.stringify({
        //     "test": "hello"
        // });

        // var requestOptions = {
        // method: 'POST',
        // headers: myHeaders,
        // body: raw,
        // redirect: 'follow'
        // };

        // fetch("http://127.0.0.1:5000/syringeDetection", requestOptions)
        // .then(response => response.text())
        // .then(result => console.log(result))
        // .then(result=> window.location.href = "http://127.0.0.1:5000/progressbar")
        // .catch(error => console.log('error', error));
    
    }

    function back(){
        window.location.href = "http://127.0.0.1:5000/menu"
    }

  function updateClock() {
        var now = new Date(), // current date
        time = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();

        // a cleaner way than string concatenation
        date = [now.getDate(), 
                now.getMonth(),
                now.getFullYear()].join('/');

        // set the content of the element with the ID time to the formatted string
        document.getElementById('date').innerHTML = date;
        document.getElementById('time').innerHTML = time;
        // call this function again in 1000ms
        setTimeout(updateClock, 1000);
    }

  function updateTempHumid(){
    var raw = "";

    var requestOptions = {
      method: 'GET',
      redirect: 'follow'
    };

    fetch("http://127.0.0.1:5000/updateTempHum", requestOptions)
      .then(response => response.json())
      .then(function(json)
      {document.getElementById('temp').innerHTML = "Temperature - "+json.temp+"°C";
        document.getElementById('humid').innerHTML = "Humidity - "+json.humid+"%";})
      .catch(error => console.log('error', error));
      setTimeout(updateTempHumid, 1000);
  }

updateClock(); 
updateTempHumid();
</script>

